<div id="container">
  <hr>
  <strong>{{ name }}</strong>
  <hr>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">Aadhar Number</ion-label>
            <ion-input type="number" class="form-control" formControlName="aadharNumber"></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.controls?.aadharNumber?.touched && ionicForm.controls?.aadharNumber?.invalid">
            <div class="error ion-padding" *ngIf="errorControl.aadharNumber?.errors?.required">
              <ion-text color="danger">Aadhar number is required.</ion-text>
            </div>
            <div class="error ion-padding" *ngIf="errorControl.aadharNumber?.errors?.pattern">
              <ion-text color="danger">Only numerical values allowed.</ion-text>    
            </div>
            <div class="error ion-padding" *ngIf="errorControl.aadharNumber?.errors?.minlength || errorControl.aadharNumber?.errors?.maxlength">
              <ion-text color="danger">Length should be 16 digits</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size="6" size-md="6" size-xs="12">
          <ion-item>
            <ion-label position="stacked" color="primary">DOB</ion-label>
            <ion-input type="date" class="form-control" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="6" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">UHID No.</ion-label>
            <ion-input type="text" class="form-control" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="6" size-xs="12"> <ion-item>
            <ion-label position="floating" color="primary">Gender</ion-label>
            <ion-select>
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="others">Others</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="6" size-xs="12"> <ion-item>
            <ion-label position="floating" color="primary">Patient Name</ion-label>
            <ion-input type="text" class="form-control" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="6" size-xs="12"> <ion-item>
            <ion-label position="floating" color="primary">Mobile No.</ion-label>
            <ion-input type="number" class="form-control" required formControlName="mobile"></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.controls?.mobile?.touched && ionicForm.controls?.mobile?.invalid">
            <div class="error ion-padding" *ngIf="errorControl.mobile?.errors?.required">
              <ion-text color="danger">Mobile number is required.</ion-text>
            </div>
            <div class="error ion-padding" *ngIf="errorControl.mobile?.errors?.pattern">
              <ion-text color="danger">Only numerical values allowed.</ion-text>
            </div>
            <div class="error ion-padding" *ngIf="errorControl.mobile?.errors?.minlength || errorControl.mobile?.errors?.maxlength">
              <ion-text color="danger">Length should be 10 digits</ion-text>
            </div>
          </div>
        </ion-col>
        <hr>
        <ion-col size="6" size-md="12" size-xs="12"> <ion-item>
            <ion-label position="floating" color="primary">Address</ion-label>
            <ion-textarea placeholder=""></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="4" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">PinCode</ion-label>
            <ion-input type="number" class="form-control" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="4" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">District</ion-label>
            <ion-input type="text" class="form-control" required disabled></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="4" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">State</ion-label>
            <ion-input type="text" class="form-control" disabled></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="3" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">Referral</ion-label>
            <ion-select>
              <ion-select-option value="ref1">Ref1</ion-select-option>
              <ion-select-option value="ref2">Ref2</ion-select-option>
              <ion-select-option value="ref3">Ref3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="3" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="primary">Email (Optional)</ion-label>
            <ion-input type="email" class="form-control" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.controls?.email?.touched && ionicForm.controls?.email?.invalid">
            <div class="error ion-padding" *ngIf="errorControl.email?.errors?.required">
              <ion-text color="danger">Email is required.</ion-text>
            </div>
            <div class="error ion-padding" *ngIf="errorControl.aadharNumber?.errors?.pattern">
              <ion-text color="danger">Only numerical values allowed.</ion-text>    
            </div>
          </div>
        </ion-col>
        <ion-col size="6" size-md="3" size-xs="12">
          <ion-button color="warning" shape="round" type="submit">Continue</ion-button>
        </ion-col>
        <ion-col size="6" size-md="3" size-xs="12">
          <ion-button color="danger" shape="round">Cancle</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>