<common-header></common-header>
<ion-content>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="5" size-md="5" size-xs="0">
      </ion-col>
      <ion-col size="3" size-md="3" size-xs="12">
        <strong>Registration</strong> </ion-col>
      <ion-col size="5" size-md="5" size-xs="0">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment (ionChange)="switchTab($event)" value="list">
    <ion-segment-button value="1">
      <ion-label>
        Personal Details
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>
        Insurance
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>
        Demographics
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>
        Registered
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="selectedTab == 'tab_1'">
    <personal-details></personal-details>
  </ng-container>
  <ng-container *ngIf="selectedTab == 'tab_2'">
    <insurance-details-patient></insurance-details-patient>
  </ng-container>
  <ng-container *ngIf="selectedTab == 'tab_3'">
    <demographics-details-patient></demographics-details-patient>
  </ng-container>
</ion-content>