
hr {
  background-color: red;
}

#container a {
  text-decoration: none;
}

.continueButton {
  background-color: yellow !important;
}

.cancleButton {
  background-color: red !important;
}


::ng-deep input[type=number]::-webkit-inner-spin-button, 
::ng-deep input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.error-message {
  font-size: 8px;
  position: relative;
  top: -5px;
}

.list-height {
  max-height: 250px;
  overflow: overlay;
}

::ng-deep .my-modal-class .list-height ion-label {
  cursor: pointer;
}